<div class="container">
  <h5 class="color-2 font-sf-sb font-7 pt-4 pb-1">Password</h5>
  <div
    class="bg-ff px-4 pt-3"
    [ngStyle]="{
      'box-shadow': changePasswordActive
        ? ''
        : '0 2px 2px 0 rgba(0, 0, 0, 0.06)'
    }"
  >
    <h6 class="color-2 font-sf-m font-5">Change Password</h6>
    <div *ngIf="!changePasswordActive" class="d-flex justify-content-between">
      <p class="color-7e font-sf-r font-4 m-0 py-3">
        It's a good idea to use a strong password that you're not using
        elsewhere
      </p>
      <i class="material-icons py-2" (click)="changePassword()">
        keyboard_arrow_right
      </i>
    </div>
    <div *ngIf="changePasswordActive">
      <div class="row">
        <form
          [formGroup]="changePassForm"
          class="pt-3 w-100"
          (ngSubmit)="submit()"
        >
          <div
            *ngIf="formError && formError !== ''"
            class=" mb-3 col-md-12 mb-2 mx-auto alert alert-danger font-sfd-m"
          >
            {{ formError }}
          </div>
          <mat-form-field class="col-md-4 col-12 pb-4">
            <mat-label>Current Password</mat-label>
            <div class="d-flex">
              <input
                id="currentPassword"
                type="password"
                placeholder=""
                matInput
                showHideInput
                formControlName="currentPassword"
              />
              <i
                matSuffix
                class="material-icons"
                showHideTrigger="currentPassword"
                [showHideStatus]="{
                  materialIcon: true,
                  id: 'currentPassword'
                }"
              ></i>
            </div>
            <mat-error *ngIf="f.currentPassword.errors?.required"
              >Current Password is required</mat-error
            >
          </mat-form-field>
          <mat-form-field class="col-md-4 col-12 pb-4">
            <mat-label>New Password</mat-label>
            <div class="d-flex">
              <input
                id="password"
                type="password"
                placeholder=""
                matInput
                showHideInput
                formControlName="password"
                minlength="8"
                maxlength="16"
              />
              <i
                matSuffix
                class="material-icons"
                showHideTrigger="password"
                [showHideStatus]="{
                  materialIcon: true,
                  id: 'password'
                }"
              ></i>
            </div>
            <mat-error *ngIf="f.password.errors?.required"
              >Password is required</mat-error
            >
            <mat-error
              *ngIf="
                !f.password.errors?.required &&
                changePassForm.get('password').hasError('minlength')
              "
            >
              Please record a valid Password with at least 8
              characters</mat-error
            >
            <mat-error
              *ngIf="
                !f.password.errors?.required &&
                !changePassForm.get('password').hasError('minlength') &&
                f.password.errors?.hasNumber
              "
              >Please record a valid Password with at least one
              Number</mat-error
            >
            <mat-error
              *ngIf="
                !f.password.errors?.required &&
                !changePassForm.get('password').hasError('minlength') &&
                !f.password.errors?.hasNumber &&
                f.password.errors?.hasCapitalCase
              "
              >Please record a valid Password with at least one upper
              case</mat-error
            >
            <mat-error
              *ngIf="
                !f.password.errors?.required &&
                !changePassForm.get('password').hasError('minlength') &&
                !f.password.errors?.hasNumber &&
                !f.password.errors?.hasCapitalCase &&
                f.password.errors?.hasSmallCase
              "
              >Please record a valid Password with at least one lower
              case</mat-error
            >
            <mat-error
              *ngIf="
                !f.password.errors?.required &&
                !changePassForm.get('password').hasError('minlength') &&
                !f.password.errors?.hasNumber &&
                !f.password.errors?.hasCapitalCase &&
                !f.password.errors?.hasSmallCase &&
                f.password.errors?.hasSpecialCharacters
              "
              >Please record a valid Password with at least one special
              characters</mat-error
            >
          </mat-form-field>
          <mat-form-field class="col-md-4 col-12 pb-4 pt-3">
            <mat-label>Retype New Password</mat-label>
            <div class="d-flex">
              <input
                type="password"
                matInput
                showHideInput
                maxlength="16"
                name="confirmPassword"
                formControlName="confirmPassword"
                id="confirmPassword"
              />
              <i
                matSuffix
                class="material-icons"
                showHideTrigger="confirmPassword"
                [showHideStatus]="{
                  materialIcon: true,
                  id: 'confirmPassword'
                }"
              ></i>
            </div>
            <mat-error *ngIf="f.confirmPassword.errors?.required"
              >Confirm new password is required.</mat-error
            >
            <mat-error
              *ngIf="
                !f.confirmPassword.errors?.required &&
                f.confirmPassword.errors?.compare
              "
              >Confirm new password and password must match.</mat-error
            >
          </mat-form-field>
          <div class="row">
            <div class=" text-right w-100 ">
              <button
                type="button"
                mat-raised-button
                tabindex="-1"
                class="previous mx-5 mt-5 font-sf-sb mat-raised-button"
                (click)="changePasswordActive = false"
              >
                cancel
              </button>
              <button
                class="mt-5 font-sf-sb mat-raised-button"
                mat-raised-button
                tabindex="-1"
                type="submit"
                [disabled]="submitted"
              >
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
