<div class="content">
  <div class="message text-center">
    <img src="../../../../../assets/icons/message.svg" alt="message" />
    <h4 class="color-2 font-sf-sb font-10 mt-5">Email sent</h4>
    <!-- <p class="color-7e font-8 font-sf-m col-md-8 pt-3 mx-auto text-center">
      User added successfully, please check your email inbox for mail sent to
      activate your account.
    </p>   -->
    <p class="color-7e font-8 font-sf-m col-md-8 pt-3 mx-auto text-center">
      We just sent you an email with a password reset link Please check your
      email inbox.
    </p>
  </div>
  <div class="bl-logo">
    <img src="../../../../../assets/icons/logo.svg" alt="" />
  </div>
</div>
