<div class="bg-7e text-center">
  <div class="py-5">
    <img class="mt-5" src="../../../../../assets/icons/not-done.svg" alt="" />

    <h3 class="font-14 font-cg pt-5">Failed Payment</h3>
    <p class="font-sf-m font-9 color-7e pt-3">
      Your transaction has failed due to some technical errors. <br />
      Don’t worries! Please try again
    </p>
    <button
      (click)="policy()"
      mat-raised-button
      tabindex="-1"
      type="button"
      class="previous m-4"
    >
      Try again
    </button>
  </div>
</div>
