<div class="col-md-4"></div>
<ul class="col-md-8 p-0">
  <li>
    <a
      routerLink="/dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ><img src="../../../../../assets/icons/dashboard-ic.svg" alt="" /><span
        class="font-1 px-2"
        >Dashboard</span
      ></a
    >
  </li>
  <li>
    <a
      routerLink="/dashboard/policies"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ><img src="../../../../../assets/icons/policies-ic.svg" alt="" /><span
        class="font-1 px-2"
        >Policies</span
      ></a
    >
  </li>
  <li>
    <a
      routerLink="/dashboard/policy-holders"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ><img src="../../../../../assets/icons/id-ic.svg" alt="" /><span
        class="font-1 px-2"
        >Policy holders</span
      ></a
    >
  </li>
  <li>
    <a
      routerLink="/dashboard/vehicles"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ><img src="../../../../../assets/icons/vehicle.svg" alt="" /><span
        class="font-1 px-2"
        >Vehicles</span
      ></a
    >
  </li>
</ul>
