<div class="content">
  <div class="message text-center pt-5">
    <img src="../../../../../assets/icons/reset-icon.svg" alt="message" />
    <h4 class="color-2 font-sf-sb font-10 mt-5">Forgot your password?</h4>
    <p class="color-7e font-8 font-sf-m col-md-12 pt-3 mx-auto text-center">
      Enter your email address and we'll send you a link to reset your password
    </p>
    <form [formGroup]="forgetPassForm" class="pt-3" (ngSubmit)="submit()">
      <div
        *ngIf="formError && formError !== ''"
        class="w-75 mb-3 col-md-12 mb-2 mx-auto alert alert-danger font-sfd-m"
      >
        {{ formError }}
      </div>
      <mat-form-field class="w-75">
        <mat-label>Email</mat-label>
        <input
          type="text"
          matInput
          name="email"
          formControlName="email"
          id="forgetpassword-email"
        />
        <mat-error *ngIf="f.email.errors?.required"
          >Email is required</mat-error
        >
        <mat-error *ngIf="f.email.errors?.pattern">
          Please record a valid email</mat-error
        >
      </mat-form-field>
      <button
        id="reset-password-btn"
        class="btn mt-5 font-sf-sb"
        [disabled]="submitted"
        type="submit"
      >
        Reset password
      </button>
    </form>
  </div>
  <div class="bl-logo">
    <img src="../../../../../assets/icons/logo.svg" alt="" />
  </div>
</div>
