<div id="hiw-main">
  <!-- <div class="mobile"> -->
  <div class="title">
    <img
      class="v-line mb-3 mt-2"
      src="../../../../assets/images/-e-line.svg"
      alt="line"
    />
    <h1 class="color-2 font-cg font-12">How it works?</h1>
    <h3 class="color-2 font-sf-r font-8 mt-3">Simple and Fast</h3>
    <div class="container p-0 pb-5 mb-5">
      <div class="row m-0 p-4 pb-5">
        <div class="col-md-3 p-0 mb-3">
          <div class="card-fff pt-4 px-3 m-3  text-center">
            <img src="../../../../../assets/icons/info.svg" alt="" />
            <h5 class="mt-3 font-sf-m color-2 font-10">Basic info</h5>
            <p class="mt-3 font-sf-r color-7e font-5">
              Simply write your basic info. In a glance, Bawabty confirm your
              info, capture all needed data.
            </p>
          </div>
        </div>
        <div class="col-md-3 p-0 mb-3">
          <div class="card-fff pt-4 px-3 m-3  text-center">
            <img src="../../../../../assets/icons/browser.svg" alt="" />
            <h5 class="mt-3 font-sf-m color-2 font-10">Get quotes</h5>
            <p class="mt-3 font-sf-r color-7e font-5">
              Quick review your info and post a request to get quotes.
            </p>
          </div>
        </div>
        <div class="col-md-3 p-0 mb-3">
          <div class="card-fff pt-4 px-3 m-3  text-center">
            <img src="../../../../../assets/icons/compare.svg" alt="" />
            <h5 class="mt-3 font-sf-m color-2 font-10">Compare</h5>
            <p class="mt-3 font-sf-r color-7e font-5">
              Select and compare various quotes with different benefits.
            </p>
          </div>
        </div>
        <div class="col-md-3 p-0 mb-3">
          <div class="card-fff pt-4 px-3 m-3  text-center">
            <img src="../../../../../assets/icons/credit-card.svg" alt="" />
            <h5 class="mt-3 font-sf-m color-2 font-10">Payment</h5>
            <p class="mt-3 font-sf-r color-7e font-5">
              Pay safely and get your policy.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--     <div class="content container ">
      <div class="row">
        <div
          class=" col-md-4 mt-5 pt-5
        "
        >
          <div class="section-type mt-5">
            <span style="display: block">Mobile</span>
            <span style="display: block">Application</span>
          </div>
          <div class="section-title mt-4">
            <h2>A User</h2>
            <h2>Friendly</h2>
            <h2>Mobile Application</h2>
          </div>
          <div class="section-box col-md-9 mt-4 p-4">
            <p>
              Simply capture and select the best fit from various quotes between
              your hands.
            </p>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="animated-border pb-5 text-right row col-md-5 mt-4">
          <img
            class="col-md-7 p-0"
            src="../../../../assets/images/mobile-avatar.png"
            alt=""
          />
          <div class="col-md-5 border-div p-0">
            <div id="div-border-left"></div>
            <div id="div-border-top"></div>
            <div id="div-border-right"></div>
            <div id="div-border-bottom"></div>
          </div>

          <div class="col-md-5 mobile-screen"></div>
          <img class="morph" id="animated-shape" alt="" />
          <img
            class="morph"
            src="../../../../../assets/images/wave.png"
            alt=""
          />
        </div>

        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
  <div class="web-portal">
    <div class="row pt-4 pb-5">
      <div class="col-md-8 mb-5">
        <img
          class="ml-5 morph"
          src="../../../../../assets/images/wave-2.png"
          alt="animted shape"
        />
        <div class="bordered col-md-3 p-0 mb-3 "></div>
        <div class="slider">
          <img src="../../../../assets/images/lap-bg.png" alt="" />
        </div>
        <img
          class="laptop-frame"
          src="../../../../assets/images/laptop-frame-new.png"
          alt="laptop-frame"
        />
      </div>
      <div class="col-md-4 pt-5">
        <div class="section-type mt-5">
          <span style="display: block">Web</span>
          <span style="display: block">Portal</span>
        </div>
        <div class="section-title mt-4">
          <h2>A User</h2>
          <h2>Friendly</h2>
          <h2>Web Portal</h2>
        </div>
        <div class="section-box col-md-9 mt-4 p-4">
          <p>
            Through our system compatible with different browsers and platforms,
            you can access Bawbty anywhere anytime.
          </p>
          <div class="view-more mb-1">
            <a href=""
              >View More
              <img
                class="mx-2"
                src="../../../../assets/images/arrow-right.png"
                alt=""
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
